---
layout: default
---

<main class="container">
    <header class="row">
        <div class="large-push-2 large-2 medium-4 small-12 columns">
            <!-- This GIF should be replaced with a transparent PNG or SVG when available -->
            <img src="assets/img/logo-noc.gif" alt="Neighborhoods Organizing for Change" class="logo" />
        </div>
        <h1 class="large-8 medium-8 small-12 columns title">
            {{ page.title }}
            <a href="https://twitter.com/share" class="twitter-share-button" data-size="large" data-text="Quick security and privacy fixes for activists (with how-to videos!)" data-url="https://www.google.com/" data-via="mobile_test" data-lang="en" data-dnt="true" data-show-count="false">Tweet</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        </h1>
    </header>
</div>

{{ content }}

</main>